# Server configuration
PORT=3001
BASE_URL=backend base url
FRONTEND_URL=frontend base url

# Instagram App Credentials
INSTAGRAM_CLIENT_ID=facebook developer app client id
INSTAGRAM_CLIENT_SECRET=facebook developer app  client secret
